<main class="container">
  <div class="mt-3">
    <span class="fs-5"><a href="/" class="link-offset-2 link-underline link-underline-opacity-0 link-secondary ">
        <i class="fa-solid fa-house-chimney me-1"></i>
        <span class="fs-4">Home</span>
      </a>
      > <span class="fw-bold">News</span></span>
  </div>
  <div class="border border-dark-subtle border-bottomm mt-2"></div>

  <div class="list-groups mt-3">

    <% news.forEach(data=> { %>
      <article>
        <a href="/news/<%- data._id %>"
          class="div-2 mt-1 mb-2 list-group-item list-group-item list-group-item-dark p-3 rounded-2"
          aria-current="true">
          <h5 class="mb-1">
            <i class="fa-solid fa-newspaper me-3"></i> <%- data.title %>
          </h5>
          <small class="text-body-secondary ms-2">Date: <%- new Intl.DateTimeFormat("en-US").format(new Date(data.date))
              %></small>
        </a>
      </article>

      <% }) %>
  </div>
  <div class="border border-dark-subtle border-bottomm mt-3"></div>
</main>